@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  @apply bg-white dark:bg-gray-900 text-black dark:text-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.canvas {
  border: 1px solid black;
}

.image {
  width: 512px;
  height: 512px;
  border: 1px solid black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 3s ease-in;
}

.fade-in-out {
  animation: fadeInOut 6s infinite;
}

@keyframes fadeInOut1 {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

@keyframes fadeInOut2 {
  0%, 50%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}

.image1-fade {
  animation: fadeInOut1 20s infinite;
}

.image2-fade {
  animation: fadeInOut2 20s infinite;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  border-radius: 25px;
  width: 320px;
  background: white;
  margin-bottom: 30px;
}
  
video { 
    border-radius: 10px; 
    overflow: hidden; 
} 
