.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
.header {
  width: 100%;
  padding: 10px 20px;
  background-color: #f8f8f8;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.h1 {
	font-size: 28px;
      	margin-left: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.promptContainer {
	margin-top: -50px;
	margin-bottom: 20px;
}

.promptInput {
  width: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f0f0f0;
}
.canvasImageContainer {
  display: flex;
  align-items: flex-start; /* ここを修正 */
  justify-content: center;
  flex-wrap: wrap;
}

.canvasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* ここを追加して位置を調整 */
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.rangeInput,
.colorInput {
  margin-left: 10px;
}


.colorInput {
  border-radius: 50%; /* サークルにする */
  padding: 5px;
  background-color: #f0f0f0;
  width: 36px; /* サイズを調整 */
  height: 36px; /* サイズを調整 */
  -webkit-appearance: none; /* Webkitブラウザのデフォルトスタイルを無効に */
  -moz-appearance: none; /* Mozillaブラウザのデフォルトスタイルを無効に */
  appearance: none; /* デフォルトスタイルを無効に */
  cursor: pointer;
}

.colorInput::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%;
}

.colorInput::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.colorInput::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}



.label {
  display: flex;
  align-items: center;
}

.button {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left:10px;
}

.button:hover {
  background-color: #e0e0e0;
}
.canvas {
  border: 1px solid black;
  height: 512px;
  width: 512px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.image {
  width: 512px;
  height: 512px;
  border: 1px solid black;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.footer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #f8f8f8;
}

@media (max-width: 768px) {
  .canvasImageContainer {
    flex-direction: column;
  }

  .image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .canvasContainer {
    margin-top: 0; /* モバイルではマージントップをリセット */
  }
}

